export(siscreen, siscreen.lr, siscreen.paircluster, siscreen.validate.biogrid, colorsbreaks)
exportMethods(getParams, getInteractions, getFun, getValidated, plot)
exportClasses(Screening, Screening.validated, siscreen.IntScore, hclust)
